:root {
    --primary-font: 'Beaufort for LOL', serif;
    --secondary-font: 'Spiegel', sans-serif;

    --primary-color: #010A13;
    --secondary-color: #091428;

    --button-color: #00AEEF;

    --text-primary-color: #c8aa6e; 
    --text-secondary-color: #f0e6d2; 

    --background-color: #111; 
    --border-color: #444; 
    --hover-border-color: #c8aa6e; 
    
    --logo-height-desktop: 2rem;
    --logo-height-mobile: 1.5rem;
}

*{
    margin:0;
    padding:0;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(141deg, #111 22.42%, #092A32 93.42%);
}

.bg-dark {
    background-color: var(--background-color) !important; 
}

/* NAVBAR STYLES */
.logo {
    height: var(--logo-height-desktop);
    width: auto;
    max-width: 100%;
}

.navbar-nav .nav-link{
    color: var(--text-secondary-color);
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: var(--button-color);
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    line-height: 24px;
    border-radius: 16px;
    border: none;

    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
}

.btn-primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(
        90deg, 
        transparent, 
        rgba(255, 255, 255, 0.6), 
        transparent
    );
    transform: skewX(-20deg);
    
}

.btn-primary:hover::after {
    animation: hextech-swipe 0.7s; 
}

@keyframes hextech-swipe {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}
    
.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none !important; 
    
    color: var(--text-primary-color); 
    border: 1px solid var(--text-primary-color);
    
    border-radius: 8px; 

    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease;
}


.navbar-toggler:hover {
    background-color: rgba(200, 170, 110, 0.1); 
    box-shadow: 0 0 10px var(--text-primary-color); 
    text-shadow: 0 0 5px var(--text-primary-color); 
    border-color: #f0e6d2; 
}


.navbar-toggler[aria-expanded="true"] {
    background-color: var(--text-primary-color); 
    color: #010A13; 
}

/* BANNER */
.hero-background{
    background-image: url('Assets/img/Background.png');
    background-size: cover;
    background-position: center;
    min-height: 50vh; 
    position: relative;
}

.hero-text{
    font-family: var(--primary-font);
    font-size: clamp(2rem, 4.5vw, 4rem);
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    text-transform: uppercase;
}

/* CLIENT CARDS - START HERE*/
.client-card {
    border: 1px solid #444; 
    background-color: #000;
    overflow: hidden; 
    position: relative;
    transition: all 0.3s ease;
    height: 100%; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    aspect-ratio: 308 / 560;
}

/* HOVER EFFECT */
.client-card:hover {
    border-color: #c8aa6e; 
    box-shadow: 0 0 15px rgba(200, 170, 110, 0.4); 
    transform: translateY(-5px);
}

/* THE IMAGE */
.client-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.client-card:hover img {
    transform: scale(1.1); 
    opacity: 0.7; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, rgba(9,20,40, 1), transparent);
    pointer-events: none; 
}

/* TEXT CONTAINER */
.card-text-content {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.champion-name {
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    color: #f0e6d2;
    letter-spacing: 2px;
    margin-bottom: 2px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
}

.champion-title {
    font-family: var(--secondary-font);
    font-style: italic;
    color: #c8aa6e; 
    font-size: 0.85rem;
    text-transform: capitalize;
    margin: 0;
}

.container-league {
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 100px;
}

/*ENDS HERE*/

@media (min-width: 992px) {
    .custom-nav-gap {
        margin-left: 20px; 
    }
}